* {
    padding: 0;
    margin: 0;
}


body{
  background-color: white;
  font-family: Arial;
  margin: 0;
  height: 100vh;

}


.menu-nome, .busca{
  color: #000000 ;
}

h3, p{
  color: #000000;
}

.menu-nome{
  color: #FFFFFF;
  left: 95px;
  top: 35px;
  
}

/* COMEÇO DAS CONFIG DA NAV ****************************************/
.menu {


    display: inline-block;
    background-color: #F05742;
    height: 130px;
    width: 100%;
    
}

/* FIM DAS CONFIG DA NAV *******************************************/


/* CONFIG DA LOGO */
#logo-bm {

    width: 145px;
    height: 145px;
    
    display: block;
    position: relative;
    bottom: 60px;
    
}

/* FIM DA LOGO */

/* CONFIG DO MENU DE 3 PONTINHO*************************************************************/

.barras_do_menu {
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 30px;
  top: 45px;

}
/* fazendo as confgs das coisas que tem no MENU*/
.nav-button{
  display: block;
  position: block;

  padding: 2px;
  height: -1px;
  width: 110%;
  background: #FFE184;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;


}

.nav-button {
  color: grey;
}

.overlay{
  width: 0%;
  height: 100% ;
  background-color: #FFE184 ;
  z-index: 9; /* serve para deixar o menu sobre qualquer coisa do site*/
  position: fixed;
  left: 0;
  top: o;
  overflow-x: hidden;
  transition: 1s;
}

.overlay-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a{
  padding: 8px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 34px;
  transition: 0.3s;

}

.overlay a:hover,
.overlay a:focus{
  color: rgb(240,87,66);

}

.overlay .closebtn{
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height : 450px) {
  .overlay a {font-size: 20px;}
  .overlay, .closebtn{
    font-size: 40px;
    top: 15px;
    right:35px;
  }
  
}

/* Fim das confgs*/

.line1 {
  margin: 5px;
}

.line2 {
  margin: 5px;
}

.line3 {
  margin: 5px;
}




.menu-nome {

  font-size: 20px;
  display: inline;
  position: relative;
  left: 95px;
  top: 35px;
   

}

/* FINAL CONFIG DO MENU DE 3 PONTINHO*************************************************************/

/* CONFIG DO MENU DE BUSCA************************************************************************/
.search-box {

  position: absolute;
  right: 120px;
  top: 45px;
  background: #FFE184;
  height: 20px;
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;


}

.search-txt
{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 10px;
    border-radius: 6px;

}


.search-btn {

  width: 15px;
  height: 20px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box> .search-txt {

  width: 240px;
  padding: 1 0px;


}

.search{
  background: none;
  cursor: pointer;
  border: none;
}


.search-box:hover {

  opacity: 0.7;

}

@media (max-width: 950px) {

  .search-box> .search-txt {

  width: 60px;
  padding: 1 0px;



}

.search-box {

    right: 30px;
}



}

/* FINAL CONFIG DO MENU DE BUSCA****************************************************************/


/* COMEÇO DAS CONFIGURAÇÕES DA SLIDE BAR*/




 
.contem-nrapidas{

  display: flex;
  width: 200%;
  gap: 15px;
  margin: 0 auto;
  

}

.contem-nrapidas-wrapper{
  overflow-x: hidden;
  width: 300%;
  
}


.slidebar, .bred {

  margin-right: 30px;
  float: left;


}




.texto-slidebar{

    
    font-size: 9px; 
    
  

}

.titulo-slidebar{

    
    color: rgb(240,87,66);
    font-size: 15px;
  
}

@media (max-width: 800px) {

  .texto-slidebar{
      opacity: 0;
  }

  .bred {

      padding: 5px;
      
  }

  .titulo-slidebar{

      padding: 5px;
      font-size: 15px;
      left: 50px;

  }

}


/* Mostre apenas o slide ativo */
.slidebar.ativo {
  display: block;
}


/* FIM DAS CONFIGURAÇÕES DA SLIDE BAR*/

/***********CONFIGURAÇÕES DA SECTION NOTICIAS MAIORES ******************************************************/


.noticias-maiores {

  display: flex;
  margin-left: 50px;


}


.noticias{

  
    margin-top: 18px;

}

.titulo-noticia, .texto-noticia {

    margin-top: 8px;

}

.noticias-container {

  width: 30%;

}

.imagem-noticia {

 
  width: 99%;

}

.titulo-noticia{

    font-size: 25px;
    color: rgb(12,69,137);

}

.texto-noticia {

  font-size: 18px;

}


/************************* Config noticias maiores *************************/



.titulo-noticia-2{

   font-size: 37px;
    color: rgb(12,69,137);

}

.texto-noticia-2{

font-size: 25px;
margin-top: 16px;

}

.imagem-noticia-2 {


  width: 99%;

}

.noticias-container-2 {

  width: 60%;
  margin-left: 80px ;

}

/************************* FIM noticias maiores *************************/


/************************* CONFIG DO FOOTER *************************/



.rodape-container{


  position: relative;
  font-size: 17px;
  height: 60px;
  background: rgb(240,87,66);
  border: 1px solid red;
  flex-direction: column;
  display: flex;
  min-height: 150px;
  width: 99,5%;
  


}
.rodape {

  display: flex;
  

}

.social-links {

  display: flex;

}


.rodape-lado-direito li {

  list-style: none;

}

.rede-social {

  margin: 7px;

}

.icone-redesocial {

  width: 25px;

}

.rede-social:hover {

  opacity: 0.6;

}

.rodape-lado-direito {

  position: absolute;
  right: 30px;
  top: 100px;
  margin-top: 9px;



}

.rodape-central {

  color: rgb(255,225,132);
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, 50%);
  
  


}


.rodape-esquerdo {

    
    color: rgb(255,225,132);
    position: absolute;
    left: 30px;
    top: 100px;
    margin-top: 21px;
    
    

}

@media (max-width: 860px){

  .rodape-lado-direito {

      top: 180px;
      right: 280px;
  }

  .rodape-esquerdo {

      top: 25px;
      left: 350px;
  }

}


@media (max-width: 700px){

  .rodape-lado-direito {

      top: 180px;
      right: 210px;
  }

  .rodape-esquerdo {

      top: 25px;
      left: 260px;
  }

}

.ptx{
  color:#FFE184 ;
}

@media (max-width: 500px) {

  .rodape-lado-direito {

      top: 180px;
      right: 100px;
  }

  .rodape-esquerdo {

      top: 25px;
      left: 160px;
  }

}



/************************* FIM DO FOOTER *************************/


/* Conversou de Moedas*/

.container-conversor{
  width: 60%;
  margin-left: 80px ;
  display: flex;
  font-size: 20px;
}


.page-title {
  color: rgb(12,69,137);
  margin-top: 30px;
  font-size: 30px;
}

.page-subtitle {
  color:black;
  margin-top: 5px;
  font-size: 30px;
}



input {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color:rgb(12,69,137);
  margin-top: 10px;
  font-size: 20px;
}

.conv {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #FFE184;
  font-size: 20px;
  color: rgb(240,87,66);
  border-style:none;
}

h2 {
  margin-top: 20px;
  color:rgb(12,69,137);
  font-size: 30px;
}


/*         Página de noticias                     */

.noticias-ibovespa{
  margin-left: 10px;
}



.img-ibovespa {
  
  position: center;
}

.bvimg {
  width: 1000px;
  height: 400px;

}

.texto-noticia-page{
  position: absolute;
  width: 340px;
  height: 130px;
  left: 10px;
  top: 357px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;

  color: rgba(0, 0, 0, 0.85);

}

.voltar, 
.saiba-mais{
  margin-top: 12px;
  padding: 4px 8px;
  margin-left: 10px;
  border-radius: 10px;
  background: #FFE184;
  font-size: 20px;
  color: rgb(240,87,66);
  margin-bottom: 15px;
  cursor: pointer;
  text-decoration: none;
}

/* PARTE DE ECONOMIA*/

.list-noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
  width: 99,5%;
  margin: 10px;
}

.economia1,
.economia2,
.economia3,
.economia4,
.economia5,
.economia6,
.economia7,
.economia8,
.economia9,
.economia10 {
  display: flex;
  align-items: center;
  width: 80%;
}

.economia-img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.text-eco {
  margin-left: 10px;
  font-size: 15px;
  word-wrap: break-word;
}

.text-eco{
  font-size: 17px;
}

a{
  text-decoration: none;
}

@media (max-width: 600px) {

    .list-noticias {
      display: flex;
      flex-direction: column;
    
    }
}


/************************************************************ */

.fofocas-mundo {

    padding: 10px;
    margin-left: 10px ;
}
