* {
    padding: 0;
    margin: 0;
}


body{
  background-color: white;
  font-family: Arial;
  margin: 0;
  height: 100vh;


}


.menu-nome, .busca{
  color: #000000 ;
}

h3, p{
  color: #000000;
}

.menu-nome{
  color: #FFFFFF;
  left: 95px;
  top: 35px;
  
}

/* COMEÇO DAS CONFIG DA NAV ****************************************/
.menu {


    display: inline-block;
    background-color: #F05742;
    height: 130px;
    width: 100%;
}

/* FIM DAS CONFIG DA NAV *******************************************/


/* CONFIG DA LOGO */
#logo-bm {

    width: 145px;
    height: 145px;
    
    display: block;
    position: relative;
    bottom: 60px;
    
}

/* FIM DA LOGO */

/* CONFIG DO MENU DE 3 PONTINHO*************************************************************/

.barras_do_menu {
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 30px;
  top: 45px;

}
/* fazendo as confgs das coisas que tem no MENU*/
.nav-button{
  display: block;
  position: block;

  padding: 2px;
  height: -1px;
  width: 110%;
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;

}

.nav-button i{
  color: #2C2C2C;
}

.overlay{
  width: 0%;
  height: 100% ;
  background-color: #FFE184 ;
  z-index: 9; /* serve para deixar o menu sobre qualquer coisa do site*/
  position: fixed;
  left: 0;
  top: o;
  overflow-x: hidden;
  transition: all 0,5s;
}

.overlay-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a{
  padding: 8px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 34px;
  transition: 0.3s;

}

.overlay a:hover,
.overlay a:focus{
  color: rgb(240,87,66);

}

.overlay .closebtn{
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height : 450px) {
  .overlay a {font-size: 20px;}
  .overlay, .closebtn{
    font-size: 40px;
    top: 15px;
    right:35px;
  }
  
}

/* Fim das confgs*/

.line1 {
  margin: 5px;
}

.line2 {
  margin: 5px;
}

.line3 {
  margin: 5px;
}




.menu-nome {

  font-size: 20px;
  display: inline;
  position: relative;
  left: 95px;
  top: 35px;
   

}

/* FINAL CONFIG DO MENU DE 3 PONTINHO*************************************************************/

/* CONFIG DO MENU DE BUSCA************************************************************************/
.search-box {

  position: absolute;
  right: 120px;
  top: 45px;
  background: #FFE184;
  height: 20px;
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;


}

.search-txt
{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 10px;
    border-radius: 6px;

}


.search-btn {

  width: 15px;
  height: 40px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box> .search-txt {

  width: 240px;
  padding: 1 0px;


}


.search-box:hover {

  opacity: 0.7;

}

/* FINAL CONFIG DO MENU DE BUSCA****************************************************************/


/* COMEÇO DAS CONFIGURAÇÕES DA SLIDE BAR*/

.contem-nrapidas{

  display: flex;
  width: 200%;
  gap: 15px;
  margin: 0 auto;
  

}

.contem-nrapidas-wrapper{
  overflow-x: scroll;
}


.slidebar, .bred {

  margin-right: 20px;
  float: left;

}


.texto-slidebar{

    
    font-size: 10px;  
  

}

.titulo-slidebar{

    
    color: rgb(240,87,66);
    font-size: 17px;
  
}


/* FIM DAS CONFIGURAÇÕES DA SLIDE BAR*/

/***********CONFIGURAÇÕES DA SECTION NOTICIAS MAIORES ******************************************************/


.noticias-maiores {

  display: flex;
  margin-left: 50px;


}


.noticias{

    border: solid 1px red;
    margin-top: 18px;

}

.titulo-noticia, .texto-noticia {

    margin-top: 8px;

}

.noticias-container {

  width: 30%;
  border: solid 1px red;

}

.imagem-noticia {

 
  width: 99%;

}

.titulo-noticia{

    font-size: 25px;
    color: rgb(12,69,137);

}

.texto-noticia {

  font-size: 18px;

}


/************************* Config noticias maiores *************************/

.noticias-2 {

  
  border: solid 1px red;

}

.titulo-noticia-2{

   font-size: 37px;
    color: rgb(12,69,137);

}

.texto-noticia-2{

font-size: 25px;
margin-top: 16px;

}

.imagem-noticia-2 {

  border: solid 1px red;
  width: 99%;

}

.noticias-container-2 {

  width: 60%;
  margin-left: 80px ;

}

/************************* FIM noticias maiores *************************/


/************************* CONFIG DO FOOTER *************************/



.rodape-container{


  position: relative;
  font-size: 17px;
  border: solid 1px red;
  height: 70px;
  background: rgb(240,87,66);


}
.rodape {

  display: flex;

}

.social-links {

  display: flex;

}

.rodape-lado-direito {

  border: solid 1px red;
  position: absolute;
  right: 30px;
  top: 0;
  margin-top: 9px;



}

.rodape-lado-direito li {

  list-style: none;

}

.rede-social {


  border: solid 1px red;
  margin: 7px;

}

.icone-redesocial {

  width: 25px;

}

.rede-social:hover {

  opacity: 0.6;

}

.rodape-central {

  color: rgb(255,225,132);
  border: solid 1px red;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  
  


}


.rodape-esquerdo {

    
    color: rgb(255,225,132);
    border: solid 1px red;
    position: absolute;
    left: 30px;
    top: 0;
    margin-top: 21px;
    
    

}

.ptx{
  color:#FFE184 ;
}

/************************* FIM DO FOOTER *************************/




